
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  background: #e9ebee;
}




// SNACKBAR (TOAST)
.mat-mdc-snack-bar-container.toast-success {
  --mdc-snackbar-container-color: green;
}

.mat-mdc-snack-bar-container.toast-failure {
  --mdc-snackbar-container-color: red;
}

